<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ucai.fulihome">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FuLiHomeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- icon，，，为项目的图标，可自行更改 -->
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- 程序的入口 -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.NewGoodsDetailsActivity" />
        <activity android:name=".activity.BoutiqueChildActivity" />
        <activity android:name=".activity.CategoryChildActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SettingActivity"></activity>
    </application>

</manifest>